body {
    color:red;
}
#title {
    color:black;
}
#rating {
    color: pink;
}
#title-outer {
    font-size: 13px;
    line-height: normal;
    color: #040c13;
    font-family: Arial,Helvetica,sans-serif;

}
#flex-container {
    display: flex;
}
